.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  :global(.ant-input-affix-wrapper) {
    margin-left: 0px;
  }
  .instruction {
    height: 100px;
    line-height: 100px;
  }
}
