.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;

}

.SkillLevel-0 {
  background-color: white;
}

.SkillLevel-1 {
  border: 3px solid lightskyblue;
}

.SkillLevel-2 {
  border: 3px solid lightskyblue;
  background: linear-gradient(90deg, white 50%, lightskyblue 50%);
}

.SkillLevel-3 {
  border: 3px solid lightskyblue;
  background-color: lightskyblue;
}
.SkillLevel-4{
  border: 3px solid #098bdc;
  background-color: #098bdc;
}
