.Circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.ZERO {
  background-color: white;
}

.ONE {
  border: 3px solid lightskyblue;
}

.TWO {
  border: 3px solid lightskyblue;
  background: linear-gradient(90deg, white 50%, lightskyblue 50%);
}

.THREE {
  border: 3px solid lightskyblue;
  background-color: lightskyblue;
}

.FOUR {
  border: 3px solid #098bdc;
  background-color: #098bdc;
}
