.Container {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
  margin: 10px;
  overflow-x: visible;
}

.Table {
  background-color: white;
}

.Cog {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 10px;
}

.Checkbox {
  width: 100%;
}

.TagSelect {
  width: 100%;
}

.Label {
  font-weight: 600;
  margin: 1rem 0;
  color: black;
}

:global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
  margin-left: 0 !important;
}
