$width: 40px;

.tableHeader {
  .skillCategory {
    font-size: 12px;
    padding: 5px;
    border: 1px solid lightgrey;
    overflow: hidden;
    max-height: $width;
  }

  .pieChart {
    min-height: $width;
    width: 200px;
    max-height: 200px;
    position: relative;
    .pieContainer {
      position: absolute;
      .pieDescription {
        position: absolute;
        top: 58px;
        left: 45px;
        font-size: 16px;
        text-align: center;
        color: grey;
        .piePercentage {
          font-size: 46px;
          font-weight: bold;
          color: goldenrod;
        }
      }
    }
  }
  .skillName {
    height: 160px;
    min-width: $width;
    max-width: $width;
    border: 1px solid lightgrey;
    vertical-align: bottom;
    span {
      display: inline-block;
      bottom: 0;
      font-size: 12px;
      padding: 35px 5px 5px 0px;
      transform: rotate(-90deg) translateX(-15px);
      transform-origin: left;
      white-space: nowrap;
    }
  }
}
