$width: 40px;

.tableHeader {
  position: relative;
  .skillCategory {
    font-size: 12px;
    padding: 5px;
    border: 1px solid lightgrey;
    overflow: hidden;
    z-index: 1;
    // max-height: $width;
    height: 20px;
    vertical-align: top;
  }

  .pieChart {
    min-height: $width;
    width: 220px;
    max-height: 220px;
    position: relative;
    .flexWrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .pieContainer {
        position: absolute;
        .pieDescription {
          position: absolute;
          top: 58px;
          left: 45px;
          font-size: 16px;
          text-align: center;
          color: grey;
          .piePercentage {
            font-size: 46px;
            font-weight: bold;
            color: goldenrod;
          }
        }
      }
    }
  }
  .skillName {
    height: 200px;
    min-width: $width;
    max-width: $width;
    border: 1px solid lightgrey;
    vertical-align: bottom;
    span {
      display: inline-block;
      bottom: 0;
      font-size: 12px;
      padding: 35px 5px 5px 0px;
      transform: rotate(-90deg) translateX(-15px);
      transform-origin: left;
      white-space: nowrap;
    }
  }
  th,
  .pieChart,
  .skillCategory {
    position: sticky;
    top: 0;
    background: white;
  }
  th,
  .skillName {
    position: sticky;
    top: 22px;
    background: white;
    border: 1px solid lightgrey;
  }
}
