@import './common/reset.scss';
@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

  h1 {
    font-size: 24px;
  }

}

.app-container {
  height: 100vh;
}
.ant-layout-header {
  background: white;
  padding: 0 20px;
}

.ant-input-affix-wrapper {
  margin-left: 30px;
}

.ant-input-search-icon::before {
  border-left: none;
}

.ant-input-affix-wrapper {
  background: #f5f5f5;
}

.ant-input {
  background: #f5f5f5;
}

.ant-tag {
  padding: 5px 10px;
}

