.Row {
  display: flex;
}

.User {
  border: 1px solid lightgray;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Cell {
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
